<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/lab1.css">
        <title>Olympus Library</title>
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="../">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>