<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/lab1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Olympus Library</title>
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="../">Homepage</a>
            <a href="../books">Books</a>
            <a href="../contact">Contact Us</a>
            <a href="../survey">Survey</a>
            <a href="../admin">Admin</a>
            <a href="../addnewbook">Add Book</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>