<div class="body" style="height: 75vh;">
    <h2>Contact Us:</h2>
    <address>
        <p><strong>Phone: </strong>(555) 555-5555</p>
        <p><strong>Email: </strong>olympus.library@olympus.ca</p>
        <p>Come visit us in person! We are located at 20 West 34th Street, New York City, NY 10001. Masks are mandatory.</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6027536892125!2d-73.9857248!3d40.7487658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1sen!2sca!4v1663122187506!5m2!1sen!2sca"
            width="600" 
            height="300" 
            style="border:0;" >
        </iframe>
    </address>
</div>