<div class="body" style="height: 75vh;">
    <p>I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.</p>
    <p>Name: Swetha Dillibabu</p>
    <p>Student ID: 101795177</p>
    <p>Date: 13/09/2022</p>
</div>
