<div class="body" style="height: 75vh;">
    <h2>Welcome to the Olympus library. Here you can find information on various books in the Percy Jackson series. Please click on the navigation pane for more information.</h2>
</div>
