<%- include('./partials/layout.ejs') %>
        <div class="main" style="height: 80%;">
            <center>
                <main><%- body %></main>
            </center>
        </div>
    </body>
</html>