<div class="body" style="height: 75vh;">
    <h2>Satisfaction Survey:</h2>
    <form action="">
        <h3>Full Name: </h3>
        <input type="text"
        name="name"
        size="50%"
        required="required" />

        <h3>Date of Birth: </h3>
        <input type="date"
        name="dob"
        required="required" />

        <h3>How likely are you to recommend this library to your friends?</h3>
        <input type="radio" 
        name="recommend" 
        value="very-likely"
        checked="checked"/> Very Likely
        <input type="radio" 
        name="recommend" 
        value="somewhat-likely"/> Somewhat Likely
        <input type="radio" 
        name="recommend" 
        value="not-likely"/> Not Likely
        <br>
        <br>
        <input type="submit"
        name="submit"
        value="Submit"/>
    </form>
</div>